.content {
  padding: 10px 0px;
}

 .title, .subtitle {
  text-align: center;
  padding-top: 8px;
  background-color: rgba(0, 123, 255, 0.5);
  color: white;
}

.para {
  text-align: justify;
}

.author {
  font-style: italic;
  font-size: 15px;
  text-align: right;
}

.date {
  font-style: italic;
  font-size: 10px;
  text-align: right;
}

.c {
  text-align: center;
  font-size: 60px;
}
