.header {
  margin-top: -300px;
  background-color: rgba(54,14,199, 0.5);
  text-align: center;
  padding: 100px 0px;
  color: white;
  width: 100%;
}

.header-background {
  background-image: url("/images/background.png");
  background-size: cover;
  height: 300px;
  width: 100%;
}
